.hero-wrapper {
  padding-bottom: 3rem;
  .header {
    grid-column: center-start / center-end;
  }
  section {
    padding-top: 0 !important;
    &.header {
      grid-column: full-start / full-end;
      height: calc(100vh - 9rem);
      background-color: $color-secondary;
      background-image: var(--desktop);
      @include backgroundContain;
      @include respond(tab-land) {
        background-image: var(--mobile);
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 10rem);
      }
      &.anchor-bottom {
        background-position: center bottom;
      }
      &.anchor-top {
        background-position: center top;
      }
      .header__logo-box,
      .header__text-box {
        grid-column: full-start / full-end;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include respond(tab-land) {
          display: none;
        }
      }
      .header__logo-box {
        padding-bottom: 6rem;
      }
      .header__text-box {
        grid-column: col-start 2 / col-end 11;
        align-items: flex-start;
        padding-bottom: 5vh;
        &.prim-grad {
          background: linear-gradient(
            0deg,
            $color-primary-dark 0%,
            rgba(0, 0, 0, 0) 85%
          );

          .hero-menu ul li a {
            color: $color-white;
          }
        }
        &.dark-grad {
          background: linear-gradient(
            0deg,
            $color-black 0%,
            rgba(0, 0, 0, 0) 85%
          );

          .hero-menu ul li a {
            color: $color-white;
          }
        }
        .heading-1 {
          color: $color-white;
          font-size: 8rem;
          text-align: center;
          line-height: 1.2;
          letter-spacing: 1.2px;
        }
      }
      video {
        position: absolute;
        top: 1rem;
        height: calc(100vh - 2rem);
        width: calc(100vw - 3.5rem);
        object-fit: cover;
        z-index: -1;
      }
    }
  }
  svg {
    display: flex;
    width: 45rem;
    path,
    rect {
      fill: $color-white;
    }
    @include respond(phone) {
      width: 25rem;
      margin: 0 auto;
    }
  }
  .more {
    font-size: 1.5rem;
  }
}
.hero-menu {
  width: 100%;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
    li {
      // flex: 1 1 200px;
      // text-align: center;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary-dark;
        font-family: $font-display;
        font-size: 2.7rem;
        letter-spacing: 2.5px;
        @include respond(phone) {
          font-size: 2.5rem;
        }
      }
    }
  }
}
.sub-page.hero-wrapper {
  padding-bottom: 0rem;
  section.header {
    height: 60vh;
    padding-top: 0;
    grid-template-rows: 1fr;
    video {
      top: 19rem;
      @include respond(phone) {
        top: 7rem;
      }
    }
    &.hero-full {
      height: calc(100vh - $headerheight);
      display: grid;
      @include respond(phone) {
        height: calc(100vh - 5rem);
      }
      .center {
        display: block;
      }
      .hero-slider,
      .slider-image,
      video {
        height: calc(100vh - $headerheight);
        @include respond(phone) {
          height: calc(100vh - 5rem);
        }
      }
      video {
        @include respond(phone) {
          height: calc(100vh - 9rem);
        }
      }
    }
    &.hero-75 {
      height: calc(75vh - $headerheight);
      .hero-slider,
      .slider-image,
      video {
        height: calc(75vh - $headerheight);
      }
    }
    &.hero-50 {
      height: calc(50vh - $headerheight);
      .hero-slider,
      .slider-image,
      video {
        height: calc(50vh - $headerheight);
      }
    }
  }
}
.error404 {
  .hero-wrapper {
    section.header {
      height: calc(100vh - 17rem);
      grid-template-rows: 1fr 2fr;
      .heading-1 {
        font-size: 6rem;
      }
    }
  }
}
.hero-slider {
  grid-column: full-start / full-end;
  height: 40vh;
  .slider-image {
    @include backgroundCover;
  }
}
.center-wrapper {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  .center {
    display: none;

    i {
      color: $color-white;
      font-size: 4rem;
    }
    &.bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}
