.testimonial-wrapper {
  display: grid;
  width: 100%;
  padding: 3rem 0 6rem;
}
.quote {
  padding: 3rem 6rem 3rem 0;
}
.testimonial-carousel {
  display: grid;
  .slick-list {
  }
  .slick-arrow {
    position: absolute;
    top: 30%;
    border: none;
    &.slick-next {
      right: 0;
    }
    i {
      padding: 1rem;
      color: $color-primary;
      font-size: 2rem;
      &:hover {
        color: $color-white;
        background: $color-grey-light-1;
      }
    }
  }
  p {
    color: $color-primary;
    font-family: $font-display;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-indent: -1rem;
    padding-left: 1rem;
  }
  .attrib {
    font-size: 1.3rem;
    padding-left: 1rem;
    text-indent: 0;
  }
  .quote {
  }
  .slick-dots {
    padding-right: 6rem;
  }
  .slick-dots li button:before {
    font-size: 2.5rem;
    text-align: right;
  }
}
