// COLOR VARIABLES
$color-primary: #6378f8;
$color-primary-dark: #6f8184;
$color-primary-dark-2: #434c5a;

$color-secondary: #222544;

$color-alt-bg: #f0f1eb;

$color-grey-light-1: #e2e7f0;
$color-grey-light-2: #fdfdfd;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #2f3c30;

// SITE MEASURMENTS
$headerheight: 21.5rem;

// FONT VARIABLES
$font-primary: "mr-eaves-sans", sans-serif;
$font-display: "garamond-premier-pro", serif;
$font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 54em; // 800px;
$bp-small: 37.5em; // 600px;
