.scrolled .top-bar {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}
.top-bar {
  top: 0;
  left: 0;
  transition: all 0.5s;
  border-bottom: 2px solid $color-primary;
}

.top-bar.scrollUp {
  transform: translateY(-17rem);
}
.home {
  .top-bar {
    position: sticky;

    &.scrollUp {
      transform: none;
      top: -20rem;
    }
  }
  &.scrolled .top-bar {
    box-shadow: none;
  }
}

//==========MOBILE NAV

$transition: all 0.3s cubic-bezier(0.27, 0.16, 0.36, 0.99);

.mobile-header {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  display: none;
  background: $color-secondary;
  border-bottom: 1px solid $color-primary;
  @include respond(tab-land) {
    display: flex;
  }
  &.is--active {
    border-bottom: 1px solid $color-white;
    background: $color-primary;
    .burger-container {
      border-right: 1px solid $color-white;
    }
  }
}

.header__inner {
  width: 100%;
  box-sizing: border-box;
  height: 10rem;
  z-index: 8000;
  display: flex;
  justify-content: space-between;
  .contact-button {
    padding: 2.5rem 3rem;
    // margin: 0 5rem 0 0;
  }
}

.burger-container {
  width: 10rem;
  height: 10rem;
  background: $color-primary;
  padding: 4rem 3rem 3rem;
}

.burger {
  position: relative;
  cursor: pointer;

  span {
    position: relative;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: $color-white;
    transition: $transition;
    margin-bottom: 8px;

    &:nth-of-type(4) {
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translateY(-50%) scale(0);
    }
    &:nth-of-type(5) {
      position: absolute;
      top: 50%;
      transform: rotate(-45deg) translateY(-50%) scale(0);
    }
  }
}

.mobile-nav {
  display: none;
  position: fixed;

  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  @include respond(tab-land) {
    display: flex;
    z-index: -1;
  }
}

.mobile-nav__menu {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  box-sizing: border-box;
  transition: $transition;
  background: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;

  ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      left: -100%;
      padding: 1rem 0 0;
      font-family: $font-display;
      font-size: 4rem;
      flex: 1 1 40rem;
      @include respond(phone) {
        font-size: 3rem;
      }
      a {
        color: $color-white;
      }
    }
  }
  .social-icons {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    transform: translateX(-50%);
    display: flex;
    grid-gap: 4rem;
    justify-content: center;
    width: 100%;

    .social-icon {
      position: relative;
      left: -200%;
      display: block;
      padding-top: 4rem;
      transition: $transition;
      cursor: pointer;
      svg {
        width: 44px;
        height: 44px;
        fill: $color-white;
      }
      i {
        font-size: 3rem;
        color: $color-white;
      }
    }
  }
}

// .mobile-nav__social {
//   position: absolute;
//   top: 0;
//   left: -100%;
//   width: 30%;
//   height: 100%;
//   overflow: hidden;
//   background: $color-primary;
//   padding: 8rem 2rem 2rem;
//   box-sizing: border-box;
//   transition: $transition;
// }

.is--active {
  .header {
    z-index: 900;
  }
  .burger span {
    &:nth-of-type(1) {
      left: -40%;
      opacity: 0;
    }
    &:nth-of-type(2) {
      left: -80%;
      opacity: 0;
    }
    &:nth-of-type(3) {
      left: -120%;
      opacity: 0;
    }
    &:nth-of-type(4) {
      transform: rotate(45deg) translateY(-50%) scale(1);
    }
    &:nth-of-type(5) {
      transform: rotate(-45deg) translateY(-50%) scale(1);
    }
  }

  &.mobile-nav {
    // top: 0;
    li {
      transition: $transition;
      position: relative;
      left: 0;
      &:nth-of-type(1) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.25s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.35s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.45s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.5s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.55s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.6s;
      }
      &:nth-of-type(10) {
        transition-delay: 0.65s;
      }
    }
    &__menu {
      right: 0;
    }
    &__social {
      left: 0;
    }
  }
  .social-icon {
    position: relative;
    left: 0 !important;
    &:nth-of-type(1) {
      transition-delay: 0.35s;
    }
    &:nth-of-type(2) {
      transition-delay: 0.4s;
    }
    &:nth-of-type(3) {
      transition-delay: 0.45s;
    }
    &:nth-of-type(4) {
      transition-delay: 0.5s;
    }
    &:nth-of-type(5) {
      transition-delay: 0.55s;
    }
    &:nth-of-type(6) {
      transition-delay: 0.6s;
    }
  }
}

// Social
//
.social {
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
  }
  position: fixed;
  bottom: 20px;
  right: 0;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0 26px;

  li {
    display: inline-block;
    margin: 12px;
  }

  a,
  svg {
    display: block;
  }

  a {
    position: relative;
    height: 40px;
    width: 40px;
  }
  c svg {
    height: 100%;
    width: 100%;
  }

  .icon {
    color: #ffffff;
    fill: #ffffff;
    &:hover {
      border-radius: 100%;
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
      -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
      transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
      transition: background-color 0.5s, transform 0.5s ease-out;
      transition: background-color 0.5s, transform 0.5s ease-out,
        -webkit-transform 0.5s ease-out;
    }
  }
}
.mobile-nav {
  &.is--active {
    display: flex;
    z-index: 99;
    .mobile-nav {
      &__menu {
        left: 0;
      }
      &__social {
        left: 0;
      }
    }
  }
}
// .sub-menu {
//   display: none;
// }
.menu-item-has-children {
  display: flex;
  flex-direction: column;
  .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    &.is-expanded {
      max-height: 30rem;
      overflow: auto;
    }

    li {
      font-size: 3rem;
      text-transform: lowercase;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
.more {
  cursor: pointer;
  // margin-top: 1rem;
  // position: absolute;
  // top: 1rem;
  // right: 1rem;
  &::after {
    font: var(--fa-font-solid);
    content: "\e59e";
    color: $color-white;
    font-weight: 300;
    font-size: 2.5rem;
    // position: absolute;
    // right: 1rem;
    // top: 2.5rem;

    cursor: pointer;
  }
}

.mobile-portal-button {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  display: flex;
  grid-gap: 4rem;
  justify-content: center;
  width: 100%;
  a {
    color: $color-white;
    padding: 1rem 3rem;
    border: 1px solid $color-white;
    font-size: 2.2rem;
    width: 70%;
    text-align: center;
  }
}
.mobile-toolbar {
  display: none;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 89;

  .portal-link__mobile {
    flex: 1;
    a {
      background: $color-primary;
      color: $color-white;
      border: none;
      width: 100%;
      padding: 3rem 2rem;
      font-size: 2.2rem;
      display: block;
      text-align: center;
    }
  }
  .contact-link__mobile {
    flex: 1;
    a {
      color: $color-primary;
      background: $color-grey-light-1;
      border: none;
      width: 100%;
      padding: 3rem 2rem;
      font-size: 2.2rem;
      display: block;
      text-align: center;
    }
  }
  @include respond(tab-port) {
    display: flex;
  }
}
.mobile-home-nav {
  display: none;
  grid-column: center-start / center-end;
  justify-content: center;
  padding: 3rem 0;
  .mobile-menu {
    ul {
      display: flex;
    }
    li {
      border-right: 1px solid $color-white;
      line-height: 0.7;
      &:last-of-type {
        border-right: none;
      }
      a {
        color: $color-white;
        font-size: 4rem;
        padding: 0 4rem;
        font-family: $font-display;
        @include respond(phone) {
          font-size: 3rem;
          padding: 0 3rem;
        }
      }
    }
    .sub-menu {
      display: none;
    }
  }
  @include respond(tab-land) {
    display: flex;
  }
}
.mobile-home-title {
  display: none;
  grid-column: center-start / center-end;
  flex-direction: column;
  align-items: center;
  .heading-1 {
    color: $color-white;
    font-size: 8rem;
    @include respond(phone) {
      font-size: 6rem;
    }
  }
  @include respond(tab-land) {
    display: flex;
    flex: 1;
    justify-content: center;
    grid-gap: 5vh;
    padding-bottom: 20rem;
  }
}
